.el-form--label-top .el-form-item__label {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 13px;
}

.el-tag {
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #fb1a862e !important;
    color: #fb1a86 !important;
    border: 1px solid #fb1a86 !important;
}

.el-tag+.el-tag {
    margin-right: 10px;
}

.el-tag .el-icon-close {
    color: #fb1a86 !important;
}

.el-tag .el-icon-close:hover {
    background: #fb1a862e !important;
}

.el-button:focus,
.el-button:hover {
    background-color: #fb1a862e !important;
    color: #fb1a86 !important;
    border: 1px solid #fb1a86 !important;
}

.tags-container {
    display: inline-flex;
    flex-wrap: wrap;
}

.button-new-tag {
    margin-left: 10px;
    height: 32px;
    line-height: 30px;
    padding-top: 0;
    padding-bottom: 0;
}

.input-new-tag {
    margin: -2px 0 0 0;
    padding: 0;
}

.el-select {
    width: 100%;
}

.CodeMirror {
    font-weight: 600;
}

.CodeMirror .CodeMirror-placeholder {
    color: #c0c4cc;
    opacity: 1 !important;
}