.comment-container {
    background: white;
    padding: 20px;
    margin-bottom: 15px;
    display: inline-flex;
    box-shadow: 0 0 10px 2px #0000001f;
    width: -webkit-fill-available;
    border-radius: 5px;
}

.comment-details {
    padding-left: 10px;
}

.comment-author {
    display: block;
    font-weight: bold;
    font-size: 13px;
}

.comment-body {
    font-size: 14px;
}

.comment-image {
    border: 2px solid white;
    border-radius: 50px;
    height: 50px;
    min-width: 50px;
    max-width: 50px;
    box-shadow: 0 0 10px 2px #0000001f;
}