.filter-options {
  text-align: center;
  padding-top: 5px;
}

.option {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 15px;
  font-weight: 300;
  cursor: pointer;
  font-size: 15px;
}

.option:hover {
  opacity: 0.75;
}

.active {
  border-bottom: 2px solid #FF1480;
  font-weight: bold;
  font-size: 17px;
}