.filter-options {
  padding-top: 5px;
}

.option {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 15px;
  font-weight: 300;
  cursor: pointer;
  font-size: 15px;
}

.option:hover {
  opacity: 0.75;
}

.active {
  border-bottom: 2px solid #FF1480;
  font-weight: bold;
  font-size: 17px;
}

.feed-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.feed-bar .el-select {
  width: auto;
  min-width: 100px;
}

.feed-option {
  display: inline-flex;
  flex-direction: column;
  padding: 5px;
}

.feed-option label {
  display: inline-flex;
  font-weight: lighter;
  font-size: 12px;
  margin-bottom: 2px;
}

@media (max-width: 450px) {
  .feed-bar {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .feed-bar .el-select {
    margin-top: 10px;
  }
}