.comment-container {
    background: white;
    padding: 30px;
    margin-bottom: 15px;
    display: inline-flex;
    box-shadow: 0 0 10px 2px #f1f1f1;
    width: -webkit-fill-available;
    width: -moz-available;
    width: fill-available;
    border-radius: 5px;
}

.comment-details {
    padding-left: 20px;
    width: 100%;
}

.comment-author {
    display: block;
    font-weight: 400;
    font-size: 14px;
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.comment-body {
    font-size: 14px;
    font-family: sans-serif;
    font-weight: lighter;
    line-height: 25px;
    padding-right: 15px;
}

.comment-body img {
    max-width: 100%;
}

.comment-image {
    border: 2px solid white;
    border-radius: 50px;
    height: 40px;
    min-width: 40px;
    max-width: 40px;
    box-shadow: 0 0 10px 2px #f1f1f1;
}
