.header-options {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-options h1 {
    display: inline-flex;
}


.options-container {
    display: flex;
    flex-direction: row-reverse;
}

.entry-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

p {
    font-size: 15px;
    font-family: sans-serif;
    font-weight: lighter;
    line-height: 25px;
}