.entry-container {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    display: inline-flex;
    box-shadow: 0 0 10px 2px #f1f1f1;
    width: -webkit-fill-available;
    width: -moz-available;
    width: fill-available;
    border-radius: 5px;
}

.entry-details {
    display: inline-flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.enter-author {
    font-size: 14px;
    margin: 0px 10px;
    display: inline-flex;
    flex-direction: column;
    vertical-align: middle;
}

.author-image-container {
    border-radius: 50px;
    height: 40px;
    width: 40px;
    max-width: 40px;
    box-shadow: 0 0 10px 2px #f1f1f1;
    display: inline-flex;
    vertical-align: middle;
  }

  .author-image {
    height: 40px;
    width: 40px;
    border-radius: inherit;
    border: 2px solid white;
    min-width: 40px;
}
  