.el-main {
    color: #333;
    padding: 20px 50px !important;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='15' viewBox='0 0 4 4'%3E%3Cpath fill='whitesmoke' fill-opacity='0.9' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  }
  
  @media (max-width: 700px) {
    .el-main {
      padding: 20px 25px !important;
    }
  }
  
  body>.el-container {
    margin-bottom: 40px;
  }

  .contest-hero-post-footer{
    display: none;
  }
  
