.card-container {
      margin: 0 auto;
      display: -webkit-flex;
      display: inline-flex;
      -webkit-justify-content: center;
      justify-content: left;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
      padding-top: 20px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
    }