.post-container {
    background: white;
    border-radius: 5px;
    padding: 20px 40px;
    -webkit-box-shadow: 0 0 10px 2px #f1f1f1;
    box-shadow: 0 0 10px 2px #f1f1f1;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: lighter;
    line-height: 25px;
}

.post-container img {
    max-width: 100%;
    height: auto;
    max-height: 350px;
}

.enter-contest {
    margin-top: 20px;
    width: 100%;
    box-shadow: 0 0 10px 2px #f1f1f1;
}

.other-winners-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.vuejs-countdown {
    letter-spacing: 3px;
    padding: 5px 0px;
}

.header-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.more-options {
    cursor: pointer;
}

.el-dropdown-menu__item a {
    text-decoration: none;
    color: black;
}

